{
  "plugins": [
    "syntax-async-generators",
    "syntax-class-properties",
    "syntax-decorators",
    "syntax-do-expressions",
    "syntax-dynamic-import",
    "syntax-flow",
    "syntax-function-bind",
    "syntax-function-sent",
    "syntax-jsx",
    "syntax-object-rest-spread"
  ]
}
